<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/sytle.css">
    <!-- <link rel="icon" href="asset/img/singleStar.png" /> -->
    <title>Document</title>
</head>
<body>
<!-- 
exemple provenant du projet github : https://github.com/bobbyroe/threejs-earth 
yt : https://www.youtube.com/watch?v=FntV9iEJ0tU

j'ai utilisé cette exemple car il utilise des notions complexe de three js et démontre le process de compilation des documents de ce boilerplate
on peux utilisé npm start pour démarre ce projet cela activera un fichier compiler un deuxieme fois par rollup :
| etape 1 |
./threeElement : 
    -> animation,asset,ect
| etape 2 |
./public/versionning:
    ->compiling.js: (compilation du fichier threeElement en un seul + linkfile fichier utile au lien communjs permettant d'active l'intelicience de 
    vscode pour facilité l'ecriture)
| etape 3 |
./public/dist:
    ->compiling.js : compilation effectué par l'api javascript de rollup
    
    -->
<script src="dist/compling.js" type="module">
</script>

</body>
</html>